.car {
    margin-top: 100px;
    margin-bottom: 200px;
}

#car-detalhe {
    margin: 0 auto;
    max-width: 350px;
    height: 500px;
    border: 2px solid #0094f6;
    box-shadow: 1px 1px 10px 2px #0094f6;
}

#car-detalhe h2 {
    margin-top: 30px;
    padding-top: 50px;
    color: #0094f6;
}

.car-img {
    height: 150px;
    border-bottom: 1px solid #0094f6 ;
}

.inf-cars {
    display: flex;
    justify-content: center;
}

.inf-cars svg {
    font-size: 1.5em;
    cursor: pointer;
}

.inf-cars svg:hover {
    color: red;
}

.inf-left {
    padding-left: 5px;
    text-align: left;
    color: green;
    width: 150px;
    height: 100px;

}

.inf-center {
    text-align: right;
    color: #0094f6;
    width: 50%;
    height: 200px;
}

.ctt-car {
   text-align: center;
}

.ctt-car p, h4 {
    margin: 0;
    padding-top: 10px;
    color: #0094f6;
}

.ctt-car svg {
    font-size: 1.2em;
}

.ctt-car svg:hover{
    color: green;
}

.link-prop {
    color: green;
}


